body{
    margin: 0;
    padding: 0;
}
.wrapper {
   
    margin: 0 auto;
    min-height: 100vh;
}
.header {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-height: auto;
    padding: 0 50px;
    background-color: slategray;
    max-width: 1000px;
}

.menu__li {  
    border: 2px solid slategrey;
    border-radius: 7px;
    list-style: none;
    padding: 3px; 
    margin: 3px;
    transition: all .3s;
    
}
.logo {
    border: 2px solid slategray;
    border-radius: 7px;
    text-align: center;
    font-family: sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 5px;
    color: #fff;
    margin: 5px;
    padding-left: 5px;
    transition: all .3s;
}
@media screen and (max-width: 900px) {
    .header{
        justify-content: center;
        align-items: center;
    }
    .menu__li{
    border: 2px solid #fff;

    }
    .logo{
        border: 2px solid #fff;
        font-size: 30px;
    }
}


.logo:hover{
    border: 2px solid #fff;
    transition: all .1s;
}
.logo:active{
    border-radius: 20px;
    transition: all .1s;
}
.menu__ul {
margin: 0;
padding: 0;
display: inherit;
flex-wrap: wrap;
justify-content: center;
}

.menu__li:hover{
    border: 2px solid #fff;
    transition: all .1s;
}
.menu__li:active{
    border-radius: 13px;
}

.menu__link {
    color: #fff;
    font-family: sans-serif;
    text-transform: capitalize;
    font-weight: 300;
    font-size: 18px;
    text-decoration: none;
}
.main {
}
